<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>MaximusAPIURL</key>
	<string>$(MAXIMUS_API_URL)</string>
	<key>MaximusAPIKey</key>
	<string>$(MAXIMUS_API_KEY)</string>
	<key>MaximusAPISecret</key>
	<string>$(MAXIMUS_API_SECRET)</string>
	<key>NSLocalNetworkUsageDescription</key>
	<string>Sincroniza autos y clientes con dispositivos cercanos (Mac/iPhone) sin servidor.</string>
	<key>NSBluetoothAlwaysUsageDescription</key>
	<string>Sincroniza con dispositivos cercanos por Bluetooth.</string>
	<key>NSBonjourServices</key>
	<array>
		<string>_maximus-sync._tcp</string>
		<string>_maximus-sync._udp</string>
	</array>
	<key>UILaunchScreen</key>
	<dict>
		<key>UILaunchScreen</key>
		<dict>
			<key>UIColorName</key>
			<string>LaunchBackground</string>
		</dict>
	</dict>
</dict>
</plist>
